# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.env*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo



.github/badges/*.svg
credentials.json
eas-builds/

# expo
.expo/

# dependencies
/node_modules

# Ignore EAS Build artifacts
android/
ios/

# Keystore
fourtyfit.keystore
.env